{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mb-5 mt-5">
  <div class="col-md-6 col-md-offset-3 text-center">

    <form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      <p class="h4 mb-4">Log in</p>

      <input type="text" class="form-control mb-4" placeholder="Username" name="username"
            required
            {% if form.username.value %}value="{{ form.username.value|stringformat:'s' }}"{% endif %}
      >
      {% if form.username.errors %}
      <div class="text-danger">{{ form.username.errors }}</div>
      {% endif %}

      <input type="password"  class="form-control" placeholder="Password" 
            name="password" aria-describedby="defaultRegisterFormPasswordHelpBlock"
            required
            {% if form.password1.value %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
        >
      <br>
      {% if form.password.errors %}
        <div class="text-danger">{{ form.password.errors }}</div>
      {% endif %}
      <button class="btn btn-info my-4 btn-block" type="submit">Log in</button>
    </form>

  </div>
</div>

{% endblock %}